@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Roboto:wght@300;400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

html {
    scroll-behavior: smooth;
}

.row { 
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

li {
    list-style-type: none;
}

a {
    color: #242424;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
    color: #6415ff
}

.white {
    color: white;
    font-weight: bold;
}

.purple {
    color: #6415ff;
}

/* NAVBAR */

.nav__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px 24px 0px 24px;
    animation: animate-slidefromleft 800ms;
}

.nav__logo--wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 28px;
    font-weight: bold;
}

.nav__link--logo:hover {
    text-decoration: none;
}


.nav__logo--wrapper:hover {
    color: #6415ff;
    text-decoration: none;
}

.nav__logo--img {
    height: 40px;
    width: 40px;
    margin: 0 12px 0 6px;
}

.nav__link--logo {
    color: #243e63;
}

.nav__links {
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    font-size: 16px;
}

.nav__link {
    padding: 8px;
    text-decoration: none;
}


.login {
    margin: 0 24px 0 48px;
}

.signup__btn {
    font-size: 16px;
    border: 0px solid;
    background-color: #6415ff;
    border-radius: 24px;
    padding: 12px 32px;
}

.signup__btn--menu {
    font-size: 16px;
    border: 0px solid;
    background-color: #6415ff;
    border-radius: 24px;
    padding: 12px 32px;
}

.btn__menu {
    background-color: transparent;
    font-size: 40px;
    text-align: center;
    border: none;
    color: #242424;
    display: none;
}

.menu__backdrop {
    position: absolute;
    margin: 12px;
    background-color: white;
    border-radius: 12px;
    border: 1px solid #c0c0c0;
    top: 0;
    left: 0;
    width: 95vw;
    height: 40vh;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    visibility: hidden;
    transition: all 300ms ease;
}

.menu--open .menu__backdrop {
    visibility: visible;
    opacity: 1;
}

.menu__links {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.menu__list {
    padding: 8px 0;
}

.menu__link {
    color: #242424;
    font-weight: bold;
}

.btn__menu--close {
    position: absolute;
    right: 20px;
    top: 10px;
    padding: 8px;
    color: black;
}

/* HEADER CONTENT */

.header__container {
    display: flex;
    padding: 48px 30px;
    animation: animate-slidefromleft 800ms;
}

.header__description--wrapper {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.header__title {
    margin-bottom: 24px;
    font-size: 48px;
    color: #243e63;
}

.header__title--para {
    max-width: 540px;
    line-height: 1.5;
    color: #7C8BA1;
    text-align: left;
    margin: 32px 0;
    font-size: 20px;
}

.header__title--email {
    height: 64px;
    width: 400px;
    border-radius: 24px;
    text-align: center;
    font-size: 20px;
    margin-bottom: 54px;
}

.header__title--para-customers{
    color: #7C8BA1;
    text-align: left;
    margin-bottom: 16px;
}

.header__title--img {
    max-width: 100%;
    width: 100%;
}

.header__figure {
    width: 60%;
}

.header__figure--img {
    max-width: 100%;
    min-width: 40%;
}

/* FEATURES */

.features__container {
    display: flex;
    flex-direction: column;
    padding: 48px 30px;
    animation: animate-slidefromright 800ms;
}

.features__description--wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 8px;
}

.features__header {
    text-align: center;
    font-size: 48px;
    padding-top: 24px;
    color:#243e63;
}

.services {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin:0 20%;
}

.service {
    display: flex;
    width: calc(100% / 3);
}

.service__img--container {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    border: 1px solid #a4a4a4;;
}

.service__img {
    height: 32px;
    width: 32px;
    margin: 0 8px;
}

.service__description {
    display: flex;
    flex-direction: column;
    padding: 12px 24px 12px 0;
}

.service__description--title {
    font-size: 24px;
    color: #243e63;
    margin: 0 12px;
}

.service__description--para {
    line-height: 1.5;
    color: gray;
    margin: 0 12px;
}

/*QUALITY WORK SECTION*/

.qualitywork__container {
    display: flex;
    padding: 48px 30px;
    animation: animate-slidefromleft 800ms;
}

.qualitywork__header--wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
}

.qualitywork__figure {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.qualitywork__header {
    font-size: 16px;
    letter-spacing: 2px;
    text-align: left;
    color: #6415ff;
    padding-bottom: 12px;
}

.qualitywork__header--title {
    color: #243e63;
    font-size: 48px;
}

.learn__more--btn {
    width: 40%;
    font-size: 16px;
    background-color: #6415ff;
    border-radius: 24px;
    padding: 12px 32px;
    color: white;
    font-weight: bold;
}

/*EASY TO GET STARTED SECTION */

.steps__container {
    display: flex;
    padding: 48px 30px;
    animation: animate-slidefromright 800ms;
}

.figure__wrapper {
    width: 50%;
    margin: 0 auto;
}

.steps__figure {
    display: flex;
    justify-content: center;
    align-items: center;
}

.steps__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 24px;
    width: 50%;
}

.steps__figure--img {
    max-width: 100%;
    min-width: 40%;
    max-height: 100%;
}

.steps__title {
    text-align: left;
    font-size: 16px;
    letter-spacing: 2px;
    text-align: left;
    color: #6415ff;
    padding-bottom: 12px;
}

.steps__subtitle {
    font-size: 48px;
    padding: 24px 0px 36px 0px;
    color: #243e63;
}

.step__number--wrapper {
    display: flex;
}

.step__description--wrapper {
    display: flex;
    flex-direction: column;
    padding-left: 24px;
}

.step__number {
    color: #CBD5E0;
    font-size: 36px;
}

.step__description--para {
    line-height: 1.5;
    color: #7C8BA1;
    text-align: left;
    font-size: 16px;
    padding: 12px 0;
}

/*VALUES SECTION */

.values__container {
    display: flex;
    padding: 48px 30px;
    animation: animate-slidefromleft 800ms;
}

.values__description--wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
}

.values__description--title {
    text-align: left;
    font-size: 16px;
    letter-spacing: 2px;
    text-align: left;
    color: #6415ff;
    padding-bottom: 12px;
}

.values__header--subtitle {
    font-size: 48px;
    padding: 20px 0px 24px 0px;
    color:#243e63;
}

.values__subtitle--para {
    line-height: 1.5;
    color: #7C8BA1;
    text-align: left;
    font-size: 16px;
    padding: 12px 0;
}

.values__subcontent {
    display: flex;
    padding: 36px 0;
}

.values__subcontent--header {
    font-size: 16px;
    text-align: center;
    color: #243e63;
}

.values__subcontent--para {
    line-height: 1.5;
    color: #7C8BA1;
    text-align: left;
    font-size: 16px;
    padding: 12px 12px;
}

.figure__wrapper {
    width: 50%;
    display: flex;
}

.values__figure--img {
    max-width: 100%;
    min-width: 40%;
    max-height: 100%;
}

/* PRICING SECTION */

.plans {
    padding: 48px 30px;
    animation: animate-slidefromright 800ms;
}

.pricing__description--title {
    text-align: center;
    font-size: 16px;
    letter-spacing: 2px;
    color: #6415ff;
    padding-bottom: 12px;
}

.pricing__description--subtitle {
    color: #243e63;
    text-align: center;
    margin-bottom: 16px;
}

.pricing__description--para {
    line-height: 1.5;
    color: #7C8BA1;
    text-align: center;
    font-size: 16px;
    max-width: 600px;
    margin: 0 auto 16px auto;
}

.plan__wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.plan {
    display: flex;
    flex-direction: column;
    width: calc(100% / 3);
    text-align: center;
    border: 2px solid #243e63;
    border-radius: 12px;
    max-width: 300px;
}

.plan__header--personal,
.plan__header--enterprise {
    color: #1A202c;
    font-size: 24px;
    padding: 12px;
}

.plan__price--personal,
.plan__price--enterprise {
    color: #1A202c;
    font-size: 48px;
    font-weight: bold;
}

.plan__subtext--personal,
.plan__subtext--enterprise {
    font-size: 16px;
    color: #a0aec0;
    padding: 8px;
}

.plan__btn--personal {
    margin: 0 auto;
    font-size: 16px;
    border-radius: 32px;
    width: 50%;
    color: white;
    font-weight: bold;
    padding: 12px;
    border: 0px solid;
    background: linear-gradient(115deg, rgb(56, 178, 172) 0%, rgb(129, 230, 217) 100%);
    margin-bottom: 24px;
}

.plan__business {
    display: flex;
    flex-direction: column;
    width: calc(100% / 3);
    text-align: center;
    border: 2px solid #243e63;
    background-image: linear-gradient(135deg, rgb(76, 81, 191) 0%, rgb(102, 126, 234) 100%);
    background-color: #6415ff;
    border-radius: 12px;
    max-width: 360px;
}

.plan__header--business {
    color: #ffffff;
    font-size: 24px;
    padding: 12px;
}

.plan__price--business {
    color: #ffffff;
    font-size: 48px;
    font-weight: bold;
}

.plan__subtext--business {
    font-size: 16px;
    color: #e2e8f0;;
    padding: 8px;
}

.plan__btn--business {
    margin: 0 auto;
    font-size: 16px;
    border-radius: 32px;
    width: 40%;
    color: #6415ff;
    font-weight: bold;
    padding: 12px;
    border: 0px solid;
    margin-bottom: 24px;
}

.plan__btn--enterprise {
    margin: 0 auto;
    font-size: 16px;
    border-radius: 32px;
    width: 50%;
    color: white;
    padding: 12px;
    border: 0px solid;
    background: linear-gradient(115deg, rgb(245, 101, 101) 0%, rgb(254, 178, 178) 100%);
    margin-bottom: 24px;
    text-decoration: none;
}    

.buy__link {
    text-decoration: none;
}

.buy__link:hover {
    text-decoration: none;
    color: #242424;
}

/* FOOTER SECTION */

.row__footer{
    background-image: linear-gradient(135deg, rgb(76, 81, 191) 0%, rgb(102, 126, 234) 100%);
    width: 100%;
    padding: 48px 30px;
    animation: animate-slidefromleft 800ms;
}

.links {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.link {
    display: flex;
    flex-direction: column;
    width: calc(100% / 5);
    align-items: center;
    max-width: 140px;
}

.link__title {
    color: #f7fafc;
    font-size: 16px;
    font-weight: bold;
    padding: 12px 0;
}

.link__content {
    color: #f7fafc;
    font-size: 14px;
    padding: 4px 0;
}

.footer__info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 36px 0 0 0;
}

.footer__info--logo{
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer__info--img{
    height: 40px;
    width: 40px;
    margin-right: 12px;
}

.footer__info--copyright {
    color: #cbd5e0;
}

.link__title--anchor {
    color: #f7fafc;
    margin: 6px 0;
}

.link__title--anchor:hover {
    color: #f7fafc;
}

/* ANIMATIONS */

@keyframes animate-slidefromleft {
    0% {
        transform: translateX(-1200px);
    }
    100% {
        transform: translateX(0)
    }
}

@keyframes animate-slidefromright {
    0% {
        transform: translateX(1200px);
    }
    100% {
        transform: translateX(0)
    }
}

/* RESPONSIVENESS */

@media (max-width: 1024px) {

    .nav__link,
    .nav__link--login,
    .signup__btn {
        display: none;
    }

    .header__container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .header__description--wrapper {
        width: 800px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .header__title {
        font-size: 30px;
        width: 480px;
        margin: 0 0 12px 0;
    }

    .header__title--para {
        font-size: 16px;
    }

    .header__title--fig {
        width: 50%;
        height: auto;
        margin: 0 auto;
    }

    .services {
        margin: 0 5%;
    }

    .service {
        display: flex;
        width: calc(100% / 2);
        padding: 0 24px;
    }

    .learn__more--btn {
        width: 50%;
    }

    .values__subcontent {
        display: flex;
        flex-direction: column;
    }

    .plan__wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .plan {
        margin: 32px 0;
    }

    .btn__menu {
        display: block;
    }

}

@media (max-width: 768px) {

    .services {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }

    .service {
        margin: 12px 0;
        width: 80%;
    }

    .service__img--container {
        margin: 0 12px 0 0;
    }

    .service__description--title {
        margin-bottom: 16px;
    }

    .qualitywork__container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .steps__container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .values__container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .link {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .links {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
    }

}
