@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Roboto:wght@300;400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

html {
    scroll-behavior: smooth;
}

.row { 
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

li {
    list-style-type: none;
}

a {
    color: #242424;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
    color: #6415ff
}

/* NAVBAR */

.nav__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4px 24px;
}

.nav__logo--wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 28px;
    font-weight: bold;
}

.nav__link--logo:hover {
    text-decoration: none;
}


.nav__logo--wrapper:hover {
    color: #6415ff;
    text-decoration: none;
}

.nav__logo--img {
    height: 40px;
    width: 40px;
    margin: 0 12px 0 6px;
}

.nav__links {
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    font-size: 16px;
}

.nav__link {
    padding: 8px;
    text-decoration: none;
}


.login {
    margin: 0 24px 0 48px;
}

.signup__btn {
    font-size: 16px;
    background-color: #6415ff;
    border-radius: 24px;
    padding: 12px 32px;
}

.white {
    color: white;
    font-weight: bold;
}